<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RacketLogger :: Docs - <%= @item[:title] %></title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/docs.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/css/pygments.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body class="api">
    <div id="header-wrapper">
      <div id="header">
        <div>
          <a class="logo" href="/">RacketLogger :: Docs</a>
          <ul class="nav">
            <li><a href="/">Docs</a></li>
            <li><a href="http://www.racketlogger.com">Home</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="wrapper">
      <%= yield %>
    </div>
    <footer id="footer">
      <div class="lower_footer">
        <div class="row">
          <hr />
          <div class="footer-cell">
            <ul class="list-unstyled">
              <li><a title="About RacketLogger" href="/about">About</a></li>
              <li>
                <a href="http://www.racketlogger.com/leagues/flex">Flex Leagues</a>
              </li>
              <li>
                <a href="http://www.racketlogger.com/feedback">Feedback</a>
              </li>
              <li>
                <a href="https://github.com/racketlogger/docs">Source Code</a>
              </li>
            </ul>
          </div>
          <div class="footer-cell">
            <ul class="list-unstyled">
              <li><a title="RacketLogger Home" href="http://www.racketlogger.com/">RacketLogger Home</a></li>
              <li><a title="Follow RacketLogger in Facebook" target="_blank" class="" href="https://www.facebook.com/racketlogger">Facebook</a></li>
              <li><a title="Follow RacketLogger in Twitter" class="" target="_blank" href="https://twitter.com/RacketLogger">Twitter</a></li>
              <li><a title="Follow RacketLogger in Google+" class="" target="_blank" rel="publisher" href="https://plus.google.com/113862405950070459386">Google+</a>
              </li>
            </ul>
          </div>
          <div class="footer-cell">
            <ul class="list-unstyled">
              <li>
                <a href="http://www.racketlogger.com/string" title="Tennis String Specs">String Browser</a>
              </li>
              <li>
                <a href="http://www.racketlogger.com/racket" title="Tennis Racket Specs">Racket Browser</a>
              </li>
              <br/>
              <li>
                <a href="http://www.racketlogger.com/string-explorer" title="Interactive Tennis String Specs Explorer">String Explorer</a>
              </li>
              <li>
                <a href="http://www.racketlogger.com/racket-explorer" title="Interactive Tennis Racket Specs Explorer">Racket Explorer</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="wrapper">
          <small class="" id="copyright">Site design and logo &#169; 2015 <a href="http://www.racketlogger.com">RacketLogger</a>. User contributions licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">cc by-sa 3.0</a> with <a href="https://github.com/racketlogger/website/wiki/Attribution">attribution required</a>.</small><br /><br />
      </div>
    </footer>
  </body>
</html>
